#chronometer {
  display: flex;
  align-self: flex-start;
  color: var(--accent-color);
  font-size: 1.7em;
  padding: 0;
  width: 80%;
}

#seconds {
    padding: 0;
}

#timer-icon {
    margin-right: 10px;
}