.center{
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 80%;
    height: 600px;
    justify-content: center;
    margin: auto;
    vertical-align: middle;
}