#lobby-info {
    position: relative;
    display: flex;
    border: 2px solid white;
    width: 100%;
    min-width: 400px;
    max-width: 1000px;
    height: 50vh;
    min-height: 200px;
    max-height: 400px;
    margin: auto;
    margin-top: 20px;
}

#players {
    position: relative;
    border: 2px solid white;
    width: 30%;
    min-width: 200px;
    min-height: 200px;
    margin-right: 20px;
}

#lobby-settings-icon {
    color: var(--sub-color);
    position: absolute;
    right: 0;
    margin: 10px;
    width: 2em;
    height: 2em;
}

#lobby-settings-icon:hover {
    color: var(--text-color);
}

#lobby-settings-icon:active {
    color: var(--accent-color);
}

#invite-code {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* position: absolute; */
    /* left: 0; */
    /* bottom: 0; */
    font-size: 1em;
    width: 100%;
    height: 80px;
    margin: auto;
    /* margin: 0; */
}

#copy-icon:hover {
    cursor: pointer;
}

#play-btn {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 56px;
    right: 0;
    font-size: 2em;
}

#lobby-settings {
    margin-right: 70px;
}

#practice {
    margin-top: 30px;
}

#practice > div.center > div > div#chronometer {
    visibility: hidden;
    height: 0;
}

#practice > div.center{
    height: 350px;
}

#lobby-info > div#settings {
    display: flex;
    flex-flow: row wrap;
    max-width: 350px;
    min-width: 200px;
    box-shadow: 0 0 5px var(--sub-color);
    margin-right: 50px;
}

#lobby-info > div#game-settings > div#game-mode > button {
    /* margin: 0; */
}

#lobby-info > div#settings > div {
    min-width: 60px;
}

#lobby-info > div#settings > div#length-settings {
    min-width: 100px;
    max-height: 50px;
}

#lobby-info > div#settings > div#global-settings {
    min-width: 100px;
    max-height: 50px;
}
