#lobby-info {
    position: relative;
    display: flex;
    border: 2px solid white;
    width: 100%;
    min-width: 400px;
    max-width: 1000px;
    height: 50vh;
    min-height: 200px;
    max-height: 250px;
    margin: auto;
    margin-top: 20px;
}

#players {
    position: relative;
    border: 2px solid white;
    width: 30%;
    min-width: 200px;
    min-height: 200px;
}

#lobby-settings-icon {
    position: absolute;
    right: 0;
    margin: 10px;
    width: 2em;
    height: 2em;
}

#invite-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 2em;
    width: 100%;
    height: 56px;
}

#play-btn {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 56px;
    right: 0;
    font-size: 2em;
}

#lobby-settings {
    margin-right: 70px;
}

#practice > div.center > div > div#chronometer {
    visibility: hidden;
    height: 0;
}

#practice > div.center{
    height: 350px;
}

#lobby-info > div#game-settings {
    min-width: 100px;
    /* margin: 10px; */
    max-height: 100px;
}

#lobby-info > div#game-settings > div#game-mode {
    display: flex;
    flex-flow: row wrap;
    max-width: 80px;
    height: 80px;
    padding: 0;
}

#lobby-info > div#game-settings > div {
    min-width: 60px;
}

#lobby-info > div#game-settings > div#length-settings, #lobby-info > div#game-settings > div#time-settings {
    display: flex;
    flex-flow: row wrap;
    max-width: 50px;
    min-height: 10px;
    height: 50px;
}