#playing-players {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: center;
    background-color: var(--sub-color-transparent);
    border-radius: 60px;
    width: 90%;
    min-width: 400px;
    height: 120px;
    margin: auto;
    margin-top: 20px;
}

div#playing-players > div.player-info > p.player-name {
    display: none;
    height: 0;
    width: 0;
    margin: 0;
}

div#playing-players > div.player-info {
    display: flex;
    justify-content: center;
    min-height: 100px;
    flex-flow: column;
    background-color: transparent;
}

div#playing-players>div.player-info>img.player-image {
    padding: 5px;
    width: 80px;
    min-width: 80px;
    height: 80px;
}

#mode-indicator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 150px;
}

#multiplayer-info > div.center{
    height: 300px;
}

#game-results{
    background-color: var(--sub-color-transparent);
    margin: 20px;
}

#game-results > .player-name {
    width: 100px;
    margin-right: 10px;
    justify-content: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis " [..]";
}

#game-single-result > p{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    width: 200px;
    color: var(--text-color);
}

#game-single-result {
    display: flex;
    justify-content: right;
    flex-grow: 2;
    width: 60%;
}

#end-game-leaderboard>div:nth-of-type(even) {
    background-color: var(--sub-color-off);
}

#end-game-leaderboard {
    margin: auto;
    margin-top: 40px;
    width: 100%;
    max-width: 800px;
}

#end-game-leaderboard > h1 {
    letter-spacing: 15px;
    color: var(--accent-color);
}

#end-game-leaderboard>div:nth-of-type(even)>#end-game-rank {
    color: var(--sub-color-transparent) !important;
}

#end-game-rank {
    color: var(--accent-color) !important;
    font-weight: bold;
    font-size: 1.3em;
}

#multiplayer-game > #popup-root:has(>div.popup-overlay>div.popup-content>div#solo-game-result){
    visibility: hidden;
}

#game-progress {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    margin-top: 10px;
    flex-flow: row wrap;
    width: 80%;
    height: 40px;
    padding: 0;
}

#game-progress > svg {
    position: absolute;
    right: 0;
    width: 35px;
    height: 35px;
}

#progress-bar {
    position: absolute;
    top: 8px;
    left: 0;
    border-radius: 5px;
    height: 20px;
}