#playing-players {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: center;
    background-color: var(--sub-color-transparent);
    border-radius: 60px;
    /* border: 2px solid white; */
    width: 90%;
    min-width: 400px;
    height: 120px;
    margin: auto;
    margin-top: 20px;
}

div#playing-players > div.player-info > p.player-name {
    display: none;
    height: 0;
    width: 0;
    margin: 0;
}

div#playing-players > div.player-info {
    display: flex;
    justify-content: center;
    min-height: 100px;
    flex-flow: column;
    background-color: transparent;
}

div#playing-players>div.player-info>img.player-image {
    padding: 5px;
    width: 80px;
    min-width: 80px;
    height: 80px;
}

#mode-indicator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 150px;
}

#multiplayer-info > div.center{
    height: 300px;
}

#game-results {
    margin: 20px;
}

#game-results > .player-name {
    width: 100px;
    margin-right: 10px;
    justify-content: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis " [..]";
}

#game-single-result > p{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 200px;
    color: var(--bg-color);
}

#game-single-result {
    display: flex;
    justify-content: right;
    flex-grow: 2;
    width: 60%;
}

#end-game-leaderboard {
    margin: auto;
    margin-top: 40px;
    width: 100%;
    max-width: 800px;
}

#end-game-leaderboard > h1 {
    letter-spacing: 15px;
    color: var(--accent-color);
}