#profile {
    display: flex;
    margin: auto;
    border-radius: 20px;
    width: 90vw;
    min-width: 500px;
    max-width: 1100px;
    height: fit-content;
    margin-top: 10vh;
    flex-flow: row wrap;
    color: var(--accent-color);
}

#user {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 20px;
    background-color: var(--sub-color-transparent);
    width: 80%;
    height: fit-content;
    padding: 20px;
    padding-top: 30px;
}

#image {
    display: flex;
    align-self: center;
    position: relative;
    width: 100%;
    max-width: 150px;
    min-width: 100px;
    max-height: 150px;
    height: 100%;
}

#profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#edit-pic-icon {
    position: absolute;
    left: -25px;
    top: -25px;
    margin: 10px;
    width: 2em;
    height: 2em;
    color: var(--sub-color);
    border-radius: 5px;
}

#edit-name-icon {
    display: flex;
    justify-content: center;
    width: 1.8em;
    height: 1.8em;
    margin-bottom: auto;
    margin-top: auto;
    color: var(--sub-color);
    cursor: pointer;
}

#edit-name-icon:hover {
    color: var(--text-color);
}

#edit-name-icon:active {
    color: var(--accent-color);
}

#edit-pic-icon:hover {
    color: var(--text-color);
}

#edit-pic-icon:active {
    color: var(--accent-color);
}

.editable {
    text-decoration-line: underline;
    color: var(--text-color);
    text-overflow: unset !important;
    max-height: 70px;
    width: 160px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
}

#edit-name-icon :hover, #edit-pic-icon :hover {
    cursor: pointer;
}

#user-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 160px;
    max-height: 30px;
    text-align: right;
}

#username-error {
    display: flex;
    white-space: break-spaces;
    text-align: left;
    line-height: 25px;
    color: var(--error-color);
    margin-top: 0;
}

#user-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 400px;
    width: fit-content;
    min-width: 100px;
    max-height: fit-content;
    min-height: 100px;
    text-align: left;
    margin-left: 10px;
}

.label {
    font-size: 1em;
    color: var(--text-color);
}

.user-label {
    font-size: 0.8em;
    color: var(--text-color);
}

#user-stats, #update-user {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: fit-content;
    max-width: 400px;
    min-width: 200px;
    height: 8vh;
    min-height: 200px;
    border-radius: 20px;
    text-align: left;
}

#user-stats p, #update-user p {
    font-size: 1em;
    width: 180px;
    margin-left: 20px;
}

h2 {
    display: flex;
    align-items: center;
}

#username-info {
    height: 50px;
}

#username-info, #rank-info {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    width: 100%;
}

#username-info h2, #rank-info h2 {
    margin-left: 20px;
}

#update-avatar {
    display: flex;
    position: absolute;
    flex-direction: row;
}

#cancle-avatar-btn, #save-avatar-btn {
    width: 2em;
    height: 2em;
    color: var(--sub-color);
    cursor: pointer;
}

#cancle-avatar-btn:hover, #save-avatar-btn:hover {
    color: var(--text-color);
    cursor: pointer;
}

#cancle-avatar-btn:active, #save-avatar-btn:active {
    color: var(--accent-color);
    cursor: pointer;
}

#avatar-settings {
    position: absolute;
    top: -20px;
    left: -35px;
    display: flex;
    height: fit-content;
}