#profile {
    display: flex;
    margin: auto;
    border-radius: 20px;
    width: 90vw;
    min-width: 500px;
    max-width: 800px;
    height: 70vh;
    min-height: 600px;
    max-height: 800px;
    margin-top: 10vh;
    flex-flow: row wrap;
}

#user {
    display: flex;
    border-radius: 20px;
    background-color: var(--sub-color-transparent);
    padding: 40px;
    width: 100%;
    height: 35%;
    margin: 10px;
}

#image {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 300px;
    height: 300px;
}

#profile-pic {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 15px;
    border: #fff solid 2px;
    border-radius: 30px;
}

#edit-pic-icon {
    position: absolute;
    justify-content: right;
    right: 0;
    bottom: 0;
    margin: 75px;
    width: 2em;
    height: 2em;
    color: #000;
    border-radius: 5px;
}

#edit-name-icon {
    position:absolute;
    margin-left: 10px;
    margin-top: 1.5px;
}

#user-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 300px;
    height: 200px;
    margin: 15px;
    text-align: left;
}

#user-stats {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    min-height: 250px;
    margin: auto;
    margin-bottom: 40px;
    background-color: var(--sub-color-transparent);
    border-radius: 20px;
}

#user-stats p {
    font-size: 1.5em;
    padding: 5px;
}