.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.popup-content {
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
