.access{
    display: flex;
    position: absolute;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 350px;
    height: 100px;
    background-color: var(--popup-color);
    border-radius: 10px;
    color: #fff;
    right: -50px;
}

.logged-in {
    font-size: 1.7em;
    width: 150px;
    background-color: var(--sub-color-transparent);
    color: var(--text-color);
    transition: 0.4s;
    border: none;
    border-radius: 5px;
    margin: 8px;
    padding: 5px;
    outline: none;
}

.logged-in:hover {
    cursor: pointer;
    background-color: var(--sub-color);
    color: var(--sub-alt-color);
}

.logged-in:active {
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--sub-alt-color);
}

a:focus-visible{
    outline: 0;
}

h1 {
    margin: 5px;
}
