.firstTimeMessage {
    /* background-color: var(--popup-color); */
    /* border-radius: 10px; */
    color: var(--sub-color);
    backdrop-filter: blur(5px);

}

div#home:has(>div.firstTimeMessage) {
    /* filter: blur(5px); */
}

.firstTimeMessage:has(> div#cookieFirstTime){
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex-flow: column wrap;
    position: absolute;
    bottom: 0;
    width: 95%;
    margin: 10px;
    padding: 10px;
    backdrop-filter: blur(5px);
}

.firstTimeMessage-content {

}

#cookieFirstTime {
    background-color: var(--popup-color);
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.firstTimeMessage:has(>#cookieFirstTime) button{
    border: none;
    background-color: var(--sub-color-transparent);
    color: var(--text-color);
    font-size: 1.3em;
    border-radius: 0 0 10px 10px;
    transition: 0.3s;
}

.firstTimeMessage:has(>#cookieFirstTime) button:hover {
    cursor: pointer;
    background-color: var(--sub-color);
    color: var(--bg-color);
}

.firstTimeMessage:has(> div#homeFirstTime){
    height: 100%;
    display: flex;
    /* justify-content: flex-end; */
    align-self: center;
    flex-flow: column wrap;
    position: absolute;
    /* top: 200px; */
    width: 95%;
    margin: 10px;
    padding: 10px;
}

#homeFirstTime{
    position: absolute;
    top: 200px;
    height: 100px;

}

#homeFirstTime{

}

#leaderboardFirstTime{

}

#lobbyFirstTime{

}

#loginFirstTime{

}

#profileFirstTime{

}
