span.letter{
    color: var(--sub-color);
    font-size: large;
    font-weight: bold;
}

span.letter.right{
    color: var(--text-color);
    font-weight: bold;
}
span.letter.wrong{
    color: var(--error-color);
    font-weight: bold;
}