#leaderboard{
    width: 80vw;
    height: 80vh;
}

#leaderboard-header {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

#leaderboard-header p {
    width: 6vw;
    text-align: center;
}

.leaderboard_user_icon {
    width: 3vw;
    height: 5vh;
}
