#leaderboard {
    min-width: 450px;
    width: 70vw;
    max-width: 1000px;
    height: 80vh;
    overflow-y: scroll;
    padding: 20px;
    overflow-x: hidden;
}

div.popup-content:has(#leaderboard) {
    min-width: 460px;
}

#header-name {
    font-size: 2.8em;
    color: var(--sub-color);
    letter-spacing: 15px;
    margin-bottom: 40px;

}

#leaderboard::-webkit-scrollbar {
    width: 2em;
    background-clip: border-box;
    border-right: 10px solid transparent;
}
   
#leaderboard::-webkit-scrollbar-track {
    background-color: transparent;
    border: 8px solid transparent;
    border-radius: 20px;
    background-clip: content-box;

}
   
#leaderboard::-webkit-scrollbar-thumb {
    background-color: var(--sub-color);
    border: 11px solid transparent;
    border-radius: 20px;
    background-clip: content-box;
}

#leaderboard::-webkit-scrollbar-button {
    height: 20px;
    border-radius: 20px;
}

#leaderboard-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#rank-date {
    min-width: 100px !important;
}

#leaderboard-header p {
    min-width: 80px;
    width: 100px;
    max-width: 150px;
    text-align: left;
    font-size: 1.2em;
    color: var(--accent-color);
}

.rank-header {
    width: 150px !important;
}

div#rankings>div:nth-of-type(even) {
    background: var(--sub-color-transparent);
    border-radius: 10px;
}