#leaderboard{
    display: block;
    width: 80vw;
    height: 80vh;
    background-color: #000000da;
    justify-content: center;
    border-radius: 10px;
    margin-left: 15%;
    color: #fff;
    padding: 10px;
    backdrop-filter: blur(5px);
}

#leaderboard-header {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin-left: 3vw;
}

#leaderboard-header p {
    width: 6vw;
    text-align: left;
}