#lobby{
    display: flex;
    width: 50vw;
    height: 80vh;
    background-color: #000000da;
    border-radius: 10px;
    margin-left: -26%;
    justify-content: center;
    color: #fff;
    backdrop-filter: blur(5px);
}