#navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-width: 480px;
    margin: auto;
    margin-top: 20px;
}

#navbar li{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  cursor: pointer;
  font-size: 1.5em;
  color: var(--sub-color);
}

#nav-sub {
    display: flex;
    width: 80%;
    max-width: 450px;
    min-width: 100px;
    margin-right: 20px;
    justify-content: left;
    justify-content: space-between;
}

#nav-sub li {
    display: flex;
}

#navbar li:hover, #navbar a:hover {
    color: var(--text-color);
}

a:link {
  text-decoration: none;
}

a:visited {
    color: var(--sub-color);
}

#navbar li:active, #navbar a:active {
    color: var(--accent-color);
}

#logo {
    width: 250px;
}

#leaderboard-icon, #profile-icon, #lobby-icon {
    width: 40px;
    height: 40px
}
