#navbar {
  display: flex;
  justify-content: space-between;
  margin: 10px;

}

#navbar li{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  cursor: pointer;
  margin: 0vw 10vw;
}

a:link {
  text-decoration: none;
}