.player-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    /* border: 2px solid white; */
    background-color: var(--sub-color);
    border-radius: 20px;
    align-items: center;
    height: 15%;
    max-height: 40px;
    min-height: 35px;
    min-width: 200px;
}

.player-image {
    width: 100%;
    max-width: 40px;
    min-width: 20px;
    /* height: 100%; */
    max-height: 80px;
    min-height: 40px;
    border: 2px solid white;
    border-radius: 50%;
}

.player-name {
    max-width: 300px;
    min-width: 120px;
    margin: 5px;
}