.rank-list-item{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: #fff;
    /* margin-left: 3vw; */
    padding: 10px;
    border-bottom: 1px solid var(--bg-color);
}

.rank-list-item p {
    text-align: left;
    min-width: 100px;
    max-width: 150px;
    font-size: 0.8em;
}

.username {
    height: 15px;
    overflow: hidden;
    margin-left: 10px;
}

.leaderboard-user-icon {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
}

#rank-user {
    display: flex;
    justify-content: left;
    width: 100px;
    text-align: left;
}
