.rank-list-item{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: #fff;
    /* margin-left: 3vw; */
    padding: 10px;
    border-bottom: 1px solid var(--bg-color);
}

.rank-list-item p {
    text-align: left;
    width: 150px;
}

.username {
    width: 110px !important;
    height: 20px;
    overflow: hidden;
    margin-left: 10px;
}

.leaderboard-user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* padding-right: 10px; */
}