.rank-list-item{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    color: #fff;
    padding: 10px;
}

.rank-list-item p {
    text-align: left;
    /* min-width: 80px; */
    width: 110px;
    max-width: 160px;
    font-size: 0.8em;
}

.username {
    height: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    width: 60px !important;
}

.leaderboard-user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#user-rank {
    width: 100px;
}

#rank-user {
    display: flex;
    width: 150px;
    text-align: left;
}

.user-acc {
    width: 150px !important;
}
