#settings {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 40px;
    background-color: var(--sub-color-transparent);
    max-width: 500px;
    min-width: 485px;
    border-radius: 20px;
    height: fit-content;
}

#prefs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    list-style-type: none;
}

#prefs > svg {
    width: 20px;
    height: 20px;
    color: var(--sub-color);
}

#prefs > svg:hover {
    cursor: pointer;
    color: var(--text-color);
}

.highlightSetting{
    color: whitesmoke !important;
}

#settings button{
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--sub-color);
    margin: 5px;
    font-size: 0.9em;
}

#settings button:hover {
    cursor: pointer;
    color: var(--text-color);
}

#length-settings {
    display: flex;
    flex-flow: row wrap;
    min-width: 200px;
    line-height: 10px;
    justify-content: center;
}

.game-setting-icon {
    width: 12px;
    height: 12px;
    padding-right: 5px;
}

.active {
    color: var(--accent-color) !important;
}
