#settings {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
    background-color: var(--sub-color-transparent);
    max-width: 700px;
    min-width: 480px;
    border-radius: 20px;
}

#settings button{
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--sub-color);
    margin: 10px;
    font-size: 0.9em;
}

#settings button:hover {
    cursor: pointer;
    color: var(--text-color);
}

#time-settings, #length-settings {
    display: flex;
    min-width: 200px;
}

.game-setting-icon {
    width: 12px;
    height: 12px;
    padding-right: 5px;
}

.active {
    color: var(--accent-color) !important;
}
