#lobby-info {
    position: relative;
    display: flex;
    border: 2px solid var(--sub-color-transparent);
    border-radius: 20px;
    width: 100%;
    min-width: 400px;
    max-width: 1000px;
    height: 50vh;
    min-height: 200px;
    max-height: 400px;
    margin: auto;
    margin-top: 20px;
}

#players {
    padding: 5px;
    padding-right: 15px;
    position: relative;
    border-right: 2px solid var(--sub-color-transparent);
    width: 40%;
    min-width: 200px;
    min-height: 200px;
    margin: 8px;
    margin-right: 20px;
}

#lobby-settings-icon {
    color: var(--sub-color);
    position: absolute;
    right: 0;
    margin: 10px;
    width: 2em;
    height: 2em;
}

#lobby-settings-icon:hover {
    color: var(--text-color);
}

#lobby-settings-icon:active {
    color: var(--accent-color);
}

#invite-code {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 1em;
    width: 85%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--sub-color-transparent);
    color: var(--accent-color);
}

#invite-code > svg {
    margin-top: 5px;
    color: var(--sub-color);
}

#invite-code > svg:hover {
    color: var(--text-color);
}

#copy-icon:hover {
    cursor: pointer;
    color: var(--text-color);
}

#action-buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
    justify-content: space-around;
    height: 50%;
}

#play-btn, #leave-btn {
    max-width: 250px;
    min-width: 180px;
    height: 56px;
    font-size: 2em;
    border: none;
    border-radius: 20px;
    background-color: var(--sub-color-transparent);
    color: var(--text-color);
}

#play-btn:hover, #leave-btn:hover {
    cursor: pointer;
    background-color: var(--sub-color);
    color: var(--accent-color);
}

#practice {
    margin-top: 30px;
}

#practice>div.center>div>div#chronometer {
    visibility: hidden;
    height: 0;
}

#practice>div.center {
    height: 350px;
}

#lobby-info>div#settings {
    position: absolute;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    max-width: 40%;
    min-width: 180px;
    box-shadow: 0 0 5px var(--sub-color);
    margin-right: 50px;
}

#lobby-info>div#settings>div {
    min-width: 60px;
}

#lobby-info>div#settings>div#length-settings {
    min-width: 80px;
    max-height: 50px;
}

#lobby-info>div#settings>div#global-settings {
    min-width: 80px;
    max-height: 50px;
}