:root {
    --font-family: "Roboto Mono", "Vazirmatn", sans-serif;
    --bg-color: #191a1b;
    --accent-color: #D68B49;
    --caret-color: #79a617;
    --main-color: #79a617;
    --sub-color: #8b8b8b;
    --popup-color: #000000af;
    --sub-color-transparent: #9c9c9c14; 
    --sub-alt-color: #141516;
    --text-color: #e7eae0;
    --error-color: #a61717;
    --error-extra-color: #731010;
    --colorful-error-color: #a61717;
    --colorful-error-extra-color: #731010;
}

body{
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
    letter-spacing: 0.2em;
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.popup-arrow {
    display: none;
}
