:root {
    --font-family: "Roboto Mono", "Vazirmatn", sans-serif;

    --bg-color: #191a1b;
    --caret-color: #79a617;
    --main-color: #79a617;
    --sub-color: #48494b;
    --sub-alt-color: #141516;
    --text-color: #e7eae0;
    --error-color: #a61717;
    --error-extra-color: #731010;
    --colorful-error-color: #a61717;
    --colorful-error-extra-color: #731010;
}
body{
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
}
.App {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
  
  .popup-content {
      padding: 5px;
      border-radius: 10px;
      left: 0 !important;
      width: 100% !important;
      height: 100% !important;
  }